body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.value-X {
  background-color: aquamarine;
}

.value-O {
  background-color: pink;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.game-title {
  text-transform: uppercase;
}

hr {
  margin-top: 3em;
}
.field {
  display: block;
  margin: 1em 0;
}
.strong {
  border-color: #ddd;
  border-style: double;
  padding: .5em;
  margin-bottom: .5em;
}

.filterable-product-table {
  padding: .1em;
}
.search-bar {
  padding: .5em;
}
.product-table {
  padding: .1em;
}
.product-category-row {
  padding: .1em;
}
.product-row {
  padding: .1em;
}
.not-stocked {
  color: red;
}
